/***----------- Milestones -----------***/

/* milestone items items*/
.milestones .posts-list .post-item {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
}

.milestones .posts-list .post-img img {
    transition: 0.5s;
}

.milestones .posts-list .post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
}

.milestones .posts-list .post-content {
    padding: 30px;
}

.milestones .posts-list .post-title {
    font-size: 24px;
    color: var(--color-secondary);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
}


.milestones .posts-list p {
    margin-top: 20px;
}


.milestones .posts-list .post-item:hover .post-title {
    color: var(--primary);
}

.milestones .posts-list .post-item:hover .post-img img {
    transform: scale(1.1);
}

/* pagination */
.milestones .milestones-pagination {
    margin-top: 30px;
    color: #838893;
}

.milestones .milestones-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.milestones .milestones-pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

.milestones .milestones-pagination li a {
    color: var(--color-secondary);
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.milestones .milestones-pagination li.active,
.milestones .milestones-pagination li:hover {
    background: var(--color-primary);
    color: #fff;
}

.milestones .milestones-pagination li.active a,
.milestones .milestones-pagination li:hover a {
    color: var(--color-white);
}



.milestones {
    padding: 100px;
    margin-left: 250px;
    transition: 0.5s;
}


/* for different media size */
@media (min-width: 992px) {
    .milestones {
        width: calc(100% - 250px);
    }
    .milestones.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .milestones {
        width: 100%;
        margin-left: 0;
    }
}