.divisions {
    margin-left: 250px;
    background: var(--secondary);
    transition: 0.5s;
}


/* for different media size */
@media (min-width: 992px) {
    .divisions {
        width: calc(100% - 250px);
    }
    .divisions.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .divisions {
        width: 100%;
        margin-left: 0;
    }
}